@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 14px;
    font-size: 28px;
    margin-right: 40px;
}

#logo img {
    height: 42px;
    filter: invert(1);
}

#navbar {
    background-color: black;
    background-color: #d43b3b;
    padding: 18px 14px;
    font-family: 'Rubik Maze', cursive;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar ul li {
    list-style: none;
}

#navbar li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 7px 12px;
}

#navbar li a:hover {
    color: black;
}

#introSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Rubik Maze', cursive;
    font-size: 65px;
    background-color: red;
    height: 425px;
    background: center/cover no-repeat url("/static/bg.jpg");
}

#introSection div.small {
    font-size: 52px;
}

#missionSection {
    background-color: #fbd6d6c7;
    background-color: white;
    width: 67%;
    margin: auto;
    height: 340px;
}

#missionSection h2 {
    font-size: 36px;
    padding-top: 12px;
    text-align: center;
    font-family: 'Rubik Maze', cursive;
}

.card {
    background: #fff6f6;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    margin: 23px 22px;
    margin: 23px 16px;
    width: 30%;
    height: 210px;
}

.card h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 12px;
    padding-top: 25px;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 130px;
    padding: 0px 14px;
    margin: 5px 9px;
}

.card-img img {
    height: inherit;
}

.card-content {
    padding: 0px 10px;
}

.card-content p {
    font-size: 20px;
}

#sponsorsSection {
    background-color: yellow;
    background-color: #fbd6d6c7;
    height: 300px;

}

#sponsorsSection h2 {
    font-size: 36px;
    padding-top: 12px;
    text-align: center;
    font-family: 'Rubik Maze', cursive;
}

#footer {
    background-color: black;
    height: 100px;
}
